@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Black.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Bold.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Bold.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Bold.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Bold.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Book';
    src: url('assets/fonts/CircularSpotifyTxT-Book.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Book';
    src: url('assets/fonts/CircularSpotifyTxT-Book.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Book';
    src: url('assets/fonts/CircularSpotifyTxT-Book.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Book';
    src: url('assets/fonts/CircularSpotifyTxT-Book.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Light.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Med';
    src: url('assets/fonts/CircularSpotifyTxT-Med.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Med';
    src: url('assets/fonts/CircularSpotifyTxT-Med.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Light.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Med';
    src: url('assets/fonts/CircularSpotifyTxT-Med.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Light.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T Med';
    src: url('assets/fonts/CircularSpotifyTxT-Med.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Light.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Black.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Black.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Spotify Tx T';
    src: url('assets/fonts/CircularSpotifyTxT-Black.woff2') format('woff2'),
        url('assets/fonts/CircularSpotifyTxT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

